@color : #000;
@headerBkgColor: #aa4c9f;
.test{
  background-color: @color !important;
}

.mobile{
  &.backdrop{
    position:absolute;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
    background-color:@headerBkgColor;
    z-index:-1;
    background-image: url('../../public/images/profile.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  &.greeting{
    font-size:9em;
    width:75%;
    padding:0.5em;
    line-height:1em;
    color:#FFF;
    -webkit-filter: drop-shadow(2px 3px 5px rgba(0,0,0,.7));
    filter: drop-shadow(2px 3px 5px rgba(0,0,0,.7));

    &:before{
      display:inline-block;
      content:"*";
      font-size:2em;
      color:red;
    }
  }
  &.greeting2{
    font-size:4em;
    width:75%;
    padding:0.5em;
    line-height:1em;
    color:black;
    -webkit-filter: drop-shadow(2px 3px 5px rgba(255,255,255,.9));
    filter: drop-shadow(2px 3px 5px rgba(255,255,255,.9));
    font-weight:bold;
  }
}